<header>
    <nav>
    <ul id="navBar">
        <li class="navBarItem"><a href="http://localhost:3000">Home</a></li>
        <li class="navBarItem"><a href="http://localhost:3000/events">Public Events</a></li>
        <li class="navBarItem"><a href="http://localhost:3000/search">Search Events/Add Friends</a></li>
        <li class="navBarItem"><a href="http://localhost:3000/users/logout">Logout</a></li>
    </ul>
    </nav>
</header>
<h1>Public Events</h1>
<p id="add-public-event">Add a public event:</p>
<form id="newEventForm">
    <label>
        Event Name
        <input id="eventName" type="text">
    </label>
    <label>
        Location
        <input id="location" type="text">
    </label>
    <label>
        Date
        <input id="eventDate" type="date">
    </label>
    <label>
        Start Time
        <input id="startTime" type="time">
    </label>
    <label>
        End time
        <input id="endTime" type="time">
    </label>
    <input type="submit" value="Submit Event">
</form>
<ul id="eventErrors" hidden>
 </ul> 
<div id="eventsList">
    {{#each events}}
        <h2>Name: {{eventName}}</h2>
        <p>Date: {{date}}</p>
        <p>Start Time: {{timeStart}}</p>
        <p>End Time: {{timeEnd}}</p>
        <p>Location: {{location}}</p>
        <a href="/events/{{_id}}">More Details</a>
    {{/each}}
</div>