<h1 class="header">{{event.eventName}}</h1>
<p class="eventInfo">Date: {{event.date}}</p>
<p class="eventInfo">Location: {{event.location}}</p>
<p class="eventInfo">Start Time: {{event.timeStart}}</p>
<p class="eventInfo">End Time: {{event.timeEnd}}</p>
<p class="eventInfo">Visibility to Friends: {{event.visibility}}</p>
<p class="eventInfo">Participants: ({{numParticipants}})</p>
{{#unless inEvent}}
<form action="/events/joinEvent{{event._id}}" method="POST" id="joinPublicEvent">
    <button type="submit">Join Event</button>
</form>
{{else}}
<form action="/events/leaveEvent{{event._id}}" method="POST" id="leavePublicEvent">
    <button type="submit">leave Event</button>
</form>
{{/unless}}
{{#if owner}}
<form action="/events/deleteEvent{{event._id}}" method="POST" id="deletePublicEvent">
    <button type="submit">Delete Event</button>
</form>
{{/if}}
<ul id="participantsList">
    {{#each participants}}
        <li class="participantListItem"><a href="/users/{{this.userName}}">{{this.name}} ({{this.userName}})</a></li>
    {{/each}}
</ul>
<a href="/events">Back To Public Events</a>
<p class="eventInfo">Comments:</p>
<ol id="commentsList">
    {{#each event.comments}}
        <li class="commentListItem"><a href="/users/{{this.username}}">{{this.username}}</a>: {{this.commentText}}</li>
    {{/each}}
</ol>