<header>
    <nav>
    <ul id="navBar">
        <li><a href="http://localhost:3000">Home</a></li>
        <li><a href="http://localhost:3000/events">Public Events</a></li>
        <li><a href="http://localhost:3000/search">Search Events/Add Friends</a></li>
        <li><a href="http://localhost:3000/users/logout">Logout</a></li>
    </ul>
    </nav>
</header>
<h2>Name: {{eventName}}</h2>
<p>Date: {{date}}</p>
<p>Start Time: {{timeStart}}</p>
<p>End Time: {{timeEnd}}</p>
<p>Location: {{location}}</p>
<a href="/events/{{_id}}" + >More Details</a>